@font-face {
  font-family: IDAutomationHC39M;
  src: url(/fonts/IDAutomationHC39M.woff);
}
.print {
  width: 283.5px;
  height: 189px;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-size: 11px;
  font-weight: 400;
  border: 1px solid #333;
}
.print .bilgi {
  padding: 10px 15px;
  padding-top: 35px;
}
.print .bilgi img {
  width: 100px;
  margin: 0;
  display: block;
  position: absolute;
  top: 10px;
}
.print .bilgi p {
  font-size: 14px;
  padding: 0;
  margin: 0px;
  line-height: 18px;
  height: 35px;
  text-align: center;
  overflow: hidden;
}
.print .bilgi .barkod-no {
  height: auto !important;
  margin-top: 7px;
}
.print .barkod {
  border-top: 1px solid #333;
  padding: 9px 0px 0px 0px;
}
.print .barkod p {
  font-size: 13pt;
  font-family: IDAutomationHC39M;
  margin: 0px;
  padding: 0px;
  text-align: center;
}